*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 30vh;
  box-shadow: 2px 2px 10px rgba(255, 255, 255,0.2);
  border-radius: 100px;
}
.card div,h1,input,button{
  color:white;
  font-family:"Montserrat",sans-serif ;
  margin-top: 20px;

}
.card button{
  font-size: 20px;
  background-color: #242424;
  border: solid;
  border-color: rgba(0,0,0,0.2);
  border-top-right-radius: 10px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
.card button:active{
  background-color: rgba(0,0,0,0.4);
  animation: fromGreenToOriginal 2s;

}
.animate {
  /* Specify both animations in sequence */
  animation: fromOriginaltoGreen 2s forwards, fromGreentoOriginal 2s forwards 2s;
}

/* Define keyframes for changing from the original color to green */
@keyframes fromOriginaltoGreen {
  from {
    background-color: #242424;
  }
  to {
    background-color: green;
  }
}

/* Define keyframes for changing from green back to the original color */
@keyframes fromGreentoOriginal {
  from {
    background-color: green;
  }
  to {
    background-color: #242424;
  }
}
.title{
  
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 10px rgba(255, 255, 255,0.2) ;
}
input{
  border: solid;
  border-color: rgba(0,0,0,0.2);
  outline: #242424;
  background-color: #242424;
  border-top-right-radius: 10px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  font-size: 20px;
  font-family:"Montserrat",sans-serif ;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
.login{
  border-top-right-radius: 20px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  box-shadow: 2px 2px 10px rgba(255, 255, 255,0.2);

  position: fixed;
  background-color: #242424;
}
.login h1{
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 10px;
}
.login button{
  
  border:none;
  border-color: rgba(0,0,0,0.2);
  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #242424;
}
.login button:active{
  background-color: rgba(0,0,0,0.4);


}
.button{
  margin: left 0px;;
  font-size: 20px;
  background-color: #242424;
  border: solid;
  border-color: rgba(0,0,0,0.2);
  border-top-right-radius: 10px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
#loginAdauga{
  margin-top: 0px;
  margin-left:0px;
}
.Buttons button{
  margin-left: 10px;
  margin-right: 10px;
}